<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <h2>Earned revenue for {{employee_airline}}:</h2>
    <h4>Last month's revenue from ticket sales: ${{last_month_revenue}} ({{last_month}}, {{year}})</h4>
    <h4>Last year's revenue from ticket sales: ${{last_year_revenue}} ({{last_year}})</h4>
    <h4>Total overall revenue from first-class ticket sales: ${{first_class_revenue}}</h4>
    <h4>Total overall revenue from business-class ticket sales: ${{business_class_revenue}}</h4>
    <h4>Total overall revenue from economy-class ticket sales: ${{economy_class_revenue}}</h4>

    <h4>TODO: Amount of tickets sold based on range of dates</h4>
    <a href="/staff_home">Go back</a></br>
</body>
</html>
